.asignatura-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.asignatura-nombre {
  font-size: 16px;
  font-weight: bold;
}

.escanear-qr-button {
  margin-left: 10px;
  --background: #28a745;
  --border-radius: 8px;
}

.escanear-qr-button {
  color: aliceblue;
}
