.asignatura-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.asignatura-nombre {
  font-size: 16px;
  font-weight: bold;
}

.generar-curre-button {
  margin-left: 10px;
  --background: #3880ff;
  --border-radius: 8px;
  padding: 2em;
  color: white;
}
