.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;

  p {
    margin: 0;
  }

  a {
    padding: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }
}
